.brand {
    background-color: #078489;
    color: white;
    margin-left: 30px;
    padding: 20px;
}

.about-img img {
    width: 150px;
    height: 150px;
}

.abc {
    padding-right: 70px;
}

.abc li {
    padding-right: 15px;
}

.about-bg {
    background-color: #ededed;
    padding: 30px 53px 30px 30px;

}

.about-me {
    background-color: white;
}

.contact {
    background-color: white;
}

.about-me {
    padding: 15px 50px;
}

.about-header h2 {
    color: #078489;
}

.line {
    background-color: #ededed;
    height: 3px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.line-f {
    background-color: #078489;
    height: 5px;
}

.contact {
    height: 230px;
}

.connect-header {
    padding: 16px 7px;
}

.connect-header h4 {
    color: #078489;
}

.img-col img {
    width: 70px;
    height: 70px;
}

footer {
    background-color: #525152;
    color: white;
    height: 100px;
}
.pos{
    background-color: cadetblue;
    color: white;
    text-align: center;
    bottom: 9px;
    margin: 0 auto;
    padding: 10px 0;
}
.port-img img{
    width: 100%;
}
